google-api-python-client
python-dateutil
pandas
openpyxl
werkzeug
xlsxwriter
emoji
bs4
coloramaattrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.2.0
colorama==0.4.6
emoji==2.6.0
et-xmlfile==1.1.0
google-api-core==2.11.1
google-api-python-client==2.93.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.1
httplib2==0.22.0
idna==3.4
jsonschema==4.18.2
jsonschema-specifications==2023.6.1
MarkupSafe==2.1.3
numpy==1.25.1
openpyxl==3.1.2
pandas==2.0.3
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
referencing==0.29.1
requests==2.31.0
rpds-py==0.8.10
rsa==4.9
six==1.16.0
soupsieve==2.4.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.16
Werkzeug==2.3.6
XlsxWriter==3.1.2
